@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Inter:wght@300;400;500;600;700;800&family=Josefin+Sans:wght@300;400;500;600;700&family=Libre+Baskerville:wght@400;700&family=Manrope:wght@200;300;400;500;600;700&family=Merriweather:wght@300;400;700;900&family=Mulish:wght@300;400;500;600;700;800;900&family=Nunito:wght@400;500;600;700;800&family=Open+Sans:wght@400;500;600;700;800&family=Poppins:wght@200;300;400;500;600;700;800&family=Salsa&family=Work+Sans:wght@300;400;500;600;700;800&display=swap');

/* shared styles here  */
* {
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
}

p {
    color: #5A5A5D;
}

.primary-btn {
    border: none;
    border-radius: 8px;
    background-color: #FF5400;
    color: #FFF;
    padding: 15px 35px;
    font-weight: 800;
    font-size: 20px;
    text-align: center;
}

.container {
    max-width: 1170px;
    margin: 100px auto 0;
    padding: 0 35px;
}

/* header section styles */
.header {
    max-width: 1170px;
    padding: 52px 35px 0;
    margin: 0 auto;
}

/* nav section styles  */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.logo h2 {
    font-size: 2.25rem;
    font-weight: 800;
}

.logo h2 span {
    color: #FF5400;
}

nav .menu-item {
    display: flex;
    gap: 40px;
}

nav .menu-item a {
    text-decoration: none;
    color: #424247;
    font-size: 1.125rem;
}

nav .menu-item .home {
    color: #FF5400;
    font-weight: 700;
}

nav .menu-icon {
    display: none;
}

/* banner section styles  */
.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 500px;
    border-radius: 25px;
    background-size: cover;
    margin-top: 50px;
    background-image: linear-gradient(180deg, #131318cc 0%, #13131800 100%), url('../Images/group-13.png');
    background-position: center;
}

.banner-title {
    color: #FFF;
    margin-bottom: 1.5rem;
    font-family: Mulish;
    font-size: 64px;
    font-weight: 800;
    text-align: center;
}

.banner-para {
    width: 60%;
    margin-bottom: 3rem;
    line-height: 26px;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}

.input-items {
    background-color: #ffffff4d;
    padding: 16px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.input-items input,
select,
.find-now {
    box-sizing: border-box;
    padding: 16px;
    font-size: 1rem;
    color: #13131880;
    width: 174px;
    outline: none;
    background-color: white;
    border: none;
    border-radius: 8px;
    font-weight: 400;
}

.input-items select {
    cursor: pointer;
    border-right: 12px solid white;
}

.input-items .find-now {
    background-color: #FF5400;
    color: white;
    cursor: pointer;
    font-weight: 700;
}

.input-items button i {
    margin-right: 8px;
}

/* popular tour section styles */
.popular-tour {
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: space-between;
}

.popular-tour-content {
    width: 58%;
}

.popular-tour-img {
    width: 42%;
}

.popular-tour-img img {
    width: 100%;
}

.popular-tour-title {
    color: #131318;
    margin-bottom: 22px;
    font-size: 40px;
    font-weight: 800;
}

.popular-tour-descrip p {
    color: #131318b3;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.popular-tour-descrip ul {
    margin: 22px 0 8px 25px;
    color: #131318b3;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.popular-tour-descrip ul li {
    margin-bottom: 14px;
}

.popular-tour-content .read-more {
    margin-top: 30px;
}


/* destination section styles */
.destination {}

.section-title {
    text-align: center;
    color: #131318;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 1.5rem;
}

.section-para {
    text-align: center;
    max-width: 650px;
    margin: 0 auto;
    color: #131318b3;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.image-grid {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    gap: 20px;
}

.img-item {
    position: relative;
    height: 300px;
}

.background {
    width: 100%;
    position: absolute;
    height: 100%;
    border-radius: 16px;
    background-image: linear-gradient(0deg, #13131833 0%, #13131833 100%);
}

.img-item h1 {
    position: absolute;
    text-align: center;
    color: #FFF;
    font-size: 28px;
    top: 132.5px;
    font-weight: 800;
    width: 100%;
}

.img-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
}

.img-1 {
    grid-column: 1 / span 8;
}

.img-2 {
    grid-column: 9 / span 8;
}

.img-3 {
    grid-column: 1 / span 5;
}

.img-4 {
    grid-column: 6 / span 7;
}

.img-5 {
    grid-column: 13 / span 4;
}

.img-6 {
    grid-column: 1 / span 7;
}

.img-7 {
    grid-column: 8 / span 9;
}

/* service section started here  */
.service {
    margin-top: 48px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
}

.service-1 {
    grid-column: 1 / span 2;
    background-color: #fbb5630d;
    border: 1px solid #fbb56333;
    border-radius: 16px;
}

.service-2 {
    grid-column: 3 / span 2;
    background-color: #29cef60d;
    border: 1px solid #29cef633;
    border-radius: 16px;
}

.service-3 {
    grid-column: 2 / span 2;
    background-color: #fbb5630d;
    border: 1px solid #fbb56333;
    border-radius: 16px;
}

.service-item {
    padding: 32px;
}

.service-item img {
    width: 64px;
    margin-bottom: 32px;
}

.service-item h2 {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 16px;
}

.service-item p {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

/* deals & discount section styles */
.discount {
    margin-top: 48px;
}

.dis-item-1 {
    background-image: url('../Images/group-39.png');
    background-size: cover;
}

.dis-item-2 {
    background-image: url('../Images/group-40.png');
    background-size: cover;
}

.dis-item-3 {
    background-image: url('../Images/group-13.png');
    background-size: cover;
}

.discount-items {
    margin-top: 24px;
    position: relative;
    border-radius: 16px;
    height: 500px;
}

.discount-cart {
    position: absolute;
    background-color: #ffffffcc;
    box-sizing: border-box;
    padding: 35px 40px 30px;
    max-width: 580px;
    border: 2px solid white;
    border-radius: 16px;
}

.discount-same {
    margin-left: 55px;
    right: 55px;
    top: 74px;
}

.discount-unique {
    margin-right: 55px;
    left: 55px;
    top: 74px;
}

.discount-title {
    color: #131318;
    margin: 16px 0 18px;
    font-size: 24px;
    font-weight: 800;
}

.discount-para {
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 16px;
}

.discount-price {
    color: #FF5400;
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 24px;
}

.short-details {
    display: flex;
    gap: 24px;
}

.short-details p i {
    color: #FF5400;
    margin-right: 8px;
    font-size: 20px;
}

.packages-btn {
    margin: 3rem auto 0;
    text-align: center;
}

.all-package {
    width: 240px;
}

/* customer review section styles  */

.customer-review {
    margin-top: 75px;
    margin-bottom: 50px;
    display: flex;
    gap: 30px;
}

.review-cart {
    padding: 20px;
    background-color: #ff55009d;
    border: 2px solid #ff550071;
    border-radius: 10px;
    color: white;
}

.review-cart img {
    width: 100px;
    position: relative;
    bottom: 85px;
    border: 10px solid #eb5353;
    border-radius: 50%;
}

.review-cart h2 {
    color: white;
    font-weight: 800;
    font-size: 28px;
    margin-top: -70px;
}

.review-cart .rating i {
    text-align: center;
    color: #fde400;
    font-size: 24px;
    margin: 20px auto;
}

.review-cart p {
    color: white;
    text-align: justify;
    font-size: 18px;
    font-weight: 600;
}

/* newsletter section styles */
.newsletter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.newsletter-box {
    width: 40%;
    padding: 30px 40px;
    box-sizing: border-box;
    border: 1px solid #FF5400;
    border-radius: 16px;
}

.newsletter-box h3 {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 16px;
}

.newsletter-box p {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 16px;
}

.newsletter-box hr {
    border: none;
    height: 1px;
    background-color: rgba(19, 19, 24, 0.10);
    margin-bottom: 14px;
}

.newsletter-box input {
    padding: 16px 20px;
    width: 100%;
    box-sizing: border-box;
    margin-top: 20px;
    color: #1313184d;
    font-size: 1rem;
    border: none;
    outline: none;
    background-color: #1313180d;
    border-radius: 8px;
}

.newsletter-box .subscribe-btn {
    background-color: #FF5400;
    color: white;
    font-size: 20px;
    font-weight: 800;
    text-align: center;
}

.newsletter-img {
    position: relative;
    width: 55%;
}

.newsletter-img img {
    width: 100%;
}

.newsletter-img .tag {
    position: absolute;
    transform: rotate(-22deg);
    bottom: 60px;
    right: 20px;
    background-color: #FF5400;
    border-radius: 16px;
    padding: 20px 30px;
    color: white;
    text-align: center;
    display: inline-block;
}

.newsletter-img .tag h3 {
    font-size: 28px;
    font-weight: 800;
}

.newsletter-img .tag p {
    color: white;
    font-size: 22px;
}

/* footer section styles */
footer {
    background-color: #1313180d;
}

.footer {
    padding: 110px 80px;
    box-sizing: border-box;
}

.horizon-logo {
    justify-content: center;
    margin-bottom: 1rem;
}

.horizon-logo img {
    width: 40px;
}

.horizon-logo h2 {
    font-size: 32px;
}

.footer p {
    text-align: center;
    max-width: 700px;
    margin: 0 auto 32px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.footer .all-right {
    margin: 0 auto;
}

.footer hr {
    border: none;
    height: 1px;
    background-color: #1313181a;
    margin-bottom: 50px;
}

.social-links {
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-bottom: 50px;
}

.social-links a {
    color: #131318;
    font-size: 24px;
}












/* media query styles here  */

/* mobile device media query */
@media screen and (max-width:600px) {
    .header {
        padding: 25px 20px 0;
    }

    .container {
        padding: 0 20px;
    }

    .section-title {
        text-align: center;
        font-size: 20px;
        font-weight: 800;
        margin-bottom: 16px;
    }

    .section-para {
        text-align: center;
        font-size: 14px;
    }

    /* nav section styles  */
    nav .menu-item {
        display: none;
    }

    nav .menu-icon {
        display: block;
        font-size: 18px;
    }

    nav .logo img {
        width: 28px;
    }

    nav .logo h2 {
        font-size: 22px;
    }

    /* banner section styles  */
    .banner {
        height: 550px;
        margin-top: 18px;
    }

    .banner-title {
        font-size: 22px;
        margin-bottom: 8px;
    }

    .banner-para {
        font-size: 14px;
        width: 90%;
        margin-bottom: 2rem;
        line-height: 20px;
    }

    .input-items {
        flex-direction: column;
    }

    .input-items input,
    select,
    .find-now {
        width: 225px;
    }

    /* .popular-tour section styles  */
    .popular-tour {
        flex-direction: column;
        margin-top: 24px;
        gap: 24px;
    }

    .popular-tour-content {
        width: 100%;
    }

    .popular-tour-img {
        width: 100%;
    }

    .popular-tour-title {
        font-size: 20px;
    }

    .popular-tour-descrip p,
    ul li {
        font-size: 14px;
    }

    /* destination section styles  */
    .destination {
        margin-top: 28px;
    }

    .image-grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 16px;
        margin-top: 16px;
    }

    .img-item {
        grid-column: 1 / span 1;
        height: 176px;
    }

    .img-item h1 {
        font-size: 20px;
        top: 78px;
    }

    /* why choose us section styles */
    .choose-us {
        margin-top: 30px;
    }

    .service {
        margin-top: 16px;
        grid-template-columns: 1fr;
    }

    .service-item {
        grid-column: 1 / span 1;
    }

    /* deals & discount section styles  */
    .deals-discount{
        margin-top: 24px;
    }
    .discount-items {
        height: 650px;
    }

    .discount-unique {
        max-width: 600px;
        right: 20px;
        margin-right: 0;
        left: 20px;
        top:150px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .discount-same {
        max-width: 600px;
        right: 20px;
        margin-left: 0;
        left: 20px;
        top:170px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .discount-title {
        margin-bottom: 10px;
    }

    .discount-para {
        margin-bottom: 10px;
        line-height: 20px;
    }

    .short-details {
        flex-wrap: wrap;
        gap: 15px;
    }

    .book-now {
        padding: 11px 18px;
        font-size: 18px;
    }


    /* customar review section styles  */
    .client-review{
        margin-top: 28px;
    }
    .customer-review {
        flex-direction: column;
        gap: 80px;
    }


    /* newsletter section styles  */
    .newsletter {
        flex-direction: column;
        gap: 30px;
        margin-top: 24px;
    }

    .newsletter-box {
        width: 100%;
        padding: 24px;
    }

    .newsletter-box h3 {
        font-size: 20px;
    }

    .newsletter-box p {
        font-size: 14px;
    }

    .newsletter-box hr {
        margin-bottom: 0;
    }

    .newsletter-img {
        width: 100%;
    }

    .newsletter-img .tag {
        padding: 15px 20px;
    }

    .newsletter-img .tag h3 {
        font-size: 20px;
    }

    .newsletter-img .tag p {
        font-size: 1rem;
    }

    .newsletter-img .tag {
        bottom: 40px;
    }

    /* footer section styles */
    .footer {
        margin-top: 24px;
        padding: 32px 20px;
        box-sizing: border-box;
    }
    .horizon-logo img {
        width: 28px;
    }

    .horizon-logo h2 {
        font-size: 22px;
    }

    .footer .all-right {
        margin: 0 auto;
    }

    .footer hr {
        border: none;
        height: 1px;
        background-color: #1313181a;
        margin-bottom: 24px;
    }

    .social-links {
        display: flex;
        gap: 30px;
        justify-content: center;
        margin-bottom: 24px;
    }

}


/* tablet device media query */
@media screen and (min-width:600px) and (max-width:992px) {
    .header {
        padding: 35px 30px 0;
    }

    /* nav section styles  */
    nav .menu-item {
        display: none;
    }

    nav .menu-icon {
        display: block;
        font-size: 28px;
    }

    /* banner section styles  */
    .banner-title {
        font-size: 48px;
        margin-bottom: 12px;
    }

    .banner-para {
        font-size: 16px;
        width: 90%;
        margin-bottom: 2rem;
        line-height: 20px;
    }

    .input-items {
        display: grid;
        grid-template-columns: repeat(2, 200px);
        gap: 20px;
    }

    .input-items input,
    select,
    button {
        width: 200px;
    }

    /* .popular-tour section styles  */
    .popular-tour {
        flex-direction: column;
        gap: 32px;
    }

    .popular-tour-content {
        width: 100%;
    }

    .popular-tour-img {
        width: 80%;
    }

    .popular-tour-title {
        font-size: 20px;
    }

    .popular-tour-descrip p,
    ul li {
        font-size: 14px;
    }

    /* destination section styles  */
    .image-grid {
        gap: 12px;
    }

    .img-item {
        height: 200px;
    }

    .img-item h1 {
        font-size: 22px;
        top: 89px;
    }

    .choose-us {
        margin-top: 50px;
    }

    .service {
        margin-top: 24px;
        grid-template-columns: 90%;
        justify-content: center;
    }

    .service-item {
        grid-column: 1 / span 1;
    }

    .choose-us h2 {
        font-size: 30px;
    }


    /* deals and discount section styles  */
    .short-details {
        flex-wrap: wrap;
        gap: 15px;
    }

    /* customar review section styles  */
    .customer-review {
        flex-direction: column;
        gap: 80px;
    }
}